.social-icons
	.row
		.col-xs-12
			p.social-icons-header Connect:
	.row
		.col-xs-12
			ul.social-icons-list
				li
					a(href="#")
						i.fa.fa-facebook
				li
					a(href="#")
						i.fa.fa-twitter