//if lt IE 10
    .outdated-browser
        .alert.alert-warning
            p
                i.fa.fa-warning
                |  You are using an 
                strong outdated
                |  browser. Some elements of this website may display incorrectly or not work as intended.
            p
                | Please 
                a(href='http://browsehappy.com/') upgrade your browser
                |  to improve your experience.
.noscript
    .alert.alert-warning
        p
            i.fa.fa-exclamation
            |  You do not have Javascript enabled. Some elements of this website may not work correctly.