nav#navbar-main.navbar.navbar-primary.navbar-fixed-top.nav-minimal
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-main-collapse')
                span.sr-only Toggle navigation
                i.fa.fa-bars
            include ./navbar-header-brand
        #navbar-main-collapse.navbar-main-menu.collapse.navbar-collapse
            ul.nav.navbar-nav
                if seriesSets['main-navigation'] && seriesSets['main-navigation'].children
                    each item in seriesSets['main-navigation'].children
                        - var file = item.file
                        case item.type
                            when 'page'
                                li.nav(class=(breadcrumb_path && breadcrumb_path[0] && breadcrumb_path[0].path === file.path ? 'active' : ''))
                                    a(href=file.path, id="navbar-link-"+file.slug, title=file.title)!= file.shortTitle || file.title
                            when 'link'
                                li.nav(class=(file.uri.substr(0,1)==='/' && path.replace(/\//g,'') === file.uri.replace(/\//g,'') ? 'active' : ''))
                                    a(href=file.uri id="navbar-link-"+slugify(file.title) target=file.uri.substr(0,1)==='/'?false:'_blank')!= file.title