script#app-script(src='/scripts/app.min.js' type="application/x-no-execution" async)
script(src='/scripts/loader.min.js' async)
if environment === 'production'
	script(src="//load.sumome.com/" data-sumo-site-id="45d2531b934e89021e0b24cd097db55e994da085415f44a8e50efb406fc6f3fa" async)
