body.talk {
	#content {
		padding-top: 0;
	}
}
.talk-speakers {
	list-style-type: none;
}
.talk-speaker-title {
	display: inline;
}
.talk-speaker-details {
	color: #999;
    font-size: 15px;
    margin: 0;
}
.talk-related-title {
	margin-top: 0;
}
.talk-basic-info {
	text-align: center;
}