mixin jobTitle(speaker, opts)
	- speaker = speaker || {}
	- options = opts || {}
	- var title = speaker.jobTitle || jobTitle
	- var org = speaker.organization || organization
	- var ws = options.website !== false ? speaker.website || website : false
	span.job-title!= title
	if title && org
		| , 
	if org
		span.organization!= typogr.typogrify(org)
	if ws
		.website
			a(href=ws target="_blank")!= url.parse(ws).hostname