- var embedSrc = src || href || link || false
- var opts = { text: text, classNames: classNames, title: title }
if false && embedSrc
	include ../components/responsive-embed
	+embedModal(embedSrc,opts)
