- var seriesSlug = slug
if seriesSet[seriesSlug]
	h3.organisations-list-title!= typogr.typogrify(seriesSet[seriesSlug].file.title)
	ul.organisations-list
		each child in seriesSet[seriesSlug].children
			li.organisations-list-item
				p #[a(href=child.file.website target="_blank")!= child.file.title]: 
					!= typogr.typogrify(child.file.description)